<a href="https://colab.research.google.com/github/afujii/class/blob/main/%E3%83%8F%E3%83%8E%E3%82%A4%E3%81%AE%E5%A1%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ハノイの塔のPythonコード

In [1]:
class Tower: 
    """塔の表現を行う"""
    def __init__(self, name, n_disks = 0): 
        self.name = name
        self.disks = []
        for i in range(n_disks, 0, -1): 
            self.push(str(i))
    def push(self, disk): 
        self.disks.append(disk)
    def pop(self): 
        return self.disks.pop()
    def __str__(self): 
        disks = ''.join('{:<2}'.format(d) for d in self.disks)
        return '{}: {}'.format(self.name, disks)

In [2]:
class TowerOfHanoi:  
    """ハノイの塔、問題の解法を示す"""

    def __init__(self, n_disk): 
        self.n_disk = n_disk
        self.n_move = 0
        self.prepare_towers()

    def prepare_towers(self): 
        s = Tower('s', self.n_disk)
        d = Tower('d')
        e = Tower('e')
        self.towers = [s, d, e]

    def run(self): 
        self.show_towers()
        s, d, e = self.towers
        self.move_disk(s, d, e, self.n_disk)

    def move_disk(self, s, d, e, n): 
        if n <= 0: 
            return

        self.move_disk(s, e, d, n - 1)
        self.n_move += 1
        print('move disk-{} from {} to {} ({}).'.format(str(n), s.name, d.name, self.n_move))
        disk = s.pop()
        d.push(disk)
        self.show_towers()
        self.move_disk(e, d, s, n - 1)#再帰定義

    def show_towers(self): 
        for t in self.towers: 
            print(t)

ディスクの数を　5とする。（９以上の値では計算量が大きすぎる）

In [6]:
TOTAL_DISK = 5
toh = TowerOfHanoi(TOTAL_DISK)
toh.run()

s: 5 4 3 2 1
d:
e:
move disk-1 from s to d (1).
s: 5 4 3 2
d: 1
e:
move disk-2 from s to e (2).
s: 5 4 3
d: 1
e: 2
move disk-1 from d to e (3).
s: 5 4 3
d:
e: 2 1
move disk-3 from s to d (4).
s: 5 4
d: 3
e: 2 1
move disk-1 from e to s (5).
s: 5 4 1
d: 3
e: 2
move disk-2 from e to d (6).
s: 5 4 1
d: 3 2
e:
move disk-1 from s to d (7).
s: 5 4
d: 3 2 1
e:
move disk-4 from s to e (8).
s: 5
d: 3 2 1
e: 4
move disk-1 from d to e (9).
s: 5
d: 3 2
e: 4 1
move disk-2 from d to s (10).
s: 5 2
d: 3
e: 4 1
move disk-1 from e to s (11).
s: 5 2 1
d: 3
e: 4
move disk-3 from d to e (12).
s: 5 2 1
d:
e: 4 3
move disk-1 from s to d (13).
s: 5 2
d: 1
e: 4 3
move disk-2 from s to e (14).
s: 5
d: 1
e: 4 3 2
move disk-1 from d to e (15).
s: 5
d:
e: 4 3 2 1
move disk-5 from s to d (16).
s:
d: 5
e: 4 3 2 1
move disk-1 from e to s (17).
s: 1
d: 5
e: 4 3 2
move disk-2 from e to d (18).
s: 1
d: 5 2
e: 4 3
move disk-1 from s to d (19).
s:
d: 5 2 1
e: 4 3
move disk-3 from e to s (20).
s: 3
d: 5 2 1
e: 4
move disk-1 from d to e (21).
s: 3
d: 5 2
e: 4 1
move disk-2 from d to s (22).
s: 3 2
d: 5
e: 4 1
move disk-1 from e to s (23).
s: 3 2 1
d: 5
e: 4
move disk-4 from e to d (24).
s: 3 2 1
d: 5 4
e:
move disk-1 from s to d (25).
s: 3 2
d: 5 4 1
e:
move disk-2 from s to e (26).
s: 3
d: 5 4 1
e: 2
move disk-1 from d to e (27).
s: 3
d: 5 4
e: 2 1
move disk-3 from s to d (28).
s:
d: 5 4 3
e: 2 1
move disk-1 from e to s (29).
s: 1
d: 5 4 3
e: 2
move disk-2 from e to d (30).
s: 1
d: 5 4 3 2
e:
move disk-1 from s to d (31).
s:
d: 5 4 3 2 1
e: